html, body {
  background-color: white;
  min-width: 700px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navBar{
    height:100px;
    width:100%;
    background-color:black;
}
.navImage{
    width:100px;
    height:100px;
}
