@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

$red : #fa4542;
$redFocus : #f6201d;

html, body {

  background-color: #efe8e8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navBar{
    background-color:black !important;
    font-family: 'Anton', sans-serif;
    padding:0;
    .navSubContainer{
        display:flex;
        align-items:center;
    }

    h2{
        color:white;
        margin:0;
        font-size:25px;
    }

    .toggler{
        color:white;
    }

    .navLink{
        color:white !important;
        a{
            color:white !important;
        }
    }
}
.navImage{
    width:60px;
    height:60px;
}

.navLink{
    color:white;
    margin:10px;
    background:black;
    &:hover{
        text-decoration:none;
    }
    div{
        background:black;
    }
}

.mainContainer{
    padding:20px;
    padding-top:0px;
    box-sizing: border-box;

    display:flex;
    flex-direction:column;
    align-items:center;
}

.btn{
    box-shadow: 0 3px 0 0 #a20101;
    text-decoration: none;
    border-radius: 3px;
    color: #fff;
    background-color: #fa4542;
    font-size: 15px;
    text-align: center;
    font-weight: 800;
    padding: 10px 20px;
    border: 0;
    margin-bottom: 3px;
    display:block;
    &:hover{
        text-decoration:none;
        color:white;
        background-color: #f6201d;
    }
    &:focus{
        background-color: #f6201d;
        outline:none;
    }

}

.title{
    font-weight:bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 800;
}

.subContainer{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top:10px;


}


.roomCard{
    border:1px solid black;
    margin:10px 0px;
    border-radius:5px;
    display:flex;
    flex-direction: column;

    h3{
        text-align: center;
        color:white;
        background-color:black;
        border-radius: 5px 5px 0 0;
        padding:5px 0;
        font-weight:bold;
        font-size:23px;
        margin:0;
    }

    select{
        text-align-last: center;
        margin-bottom:5px;
        font-weight:bold;
    }
    p{
        text-align: center;
        height:auto;
        margin:0;
        font-weight:bold;
    }

    .roomCardSubContainer{
        padding:10px;
        box-sizing:border-box;
        display:flex;
        flex-direction: column;
        background-color:white;
        border-radius: 0 0 5px 5px;
    }

}

.classCard{
    margin:10px 0;
    background-color:white;
    border-radius:5px;
    border:1px solid black;
    width:100%;

    .nicknameContainer{
        display:flex;
        padding:10px 10px;
        background-color:black;
        height:auto;
        justify-content: space-between;
        border-radius:5px 5px 0 0;


        h4{
            margin:0;
            color:white;
            font-size:20px;
            font-weight:bold;

        }

        .editDeleteContainer{
            color:white;
            display: flex;
            align-items:center;
            font-size: 25px;
            margin-left:10px;
            .editBtn{
                padding-right:10px;
            }

        }

    }

    .classCardContentContainer{
        padding:10px;

        p{
            padding:0;
            margin:0;
            font-size:15px;
            font-weight:bold;
            margin-bottom:2px;
        }

        .courseTitle{
            font-size:20px;
            line-height:22px;
        }
    }

    th{
        width:300px;
    }

}

.displayContainer{
    background-color:black;
    min-height:100vh;
    padding:20px 40px;
    padding-top:50px;
    color:white;
    h2{
        font-size: 35px;
        font-weight:bold;
        line-height:40px;
        height:250px;
    }

    .horizontalLine{
        margin:20px 0;
        margin-bottom:20px;
        border-bottom:5px solid white;
    }

    .classroomContentContainer{
        height:200px;
    }
    p{
        font-size:25px;
        font-weight:bold;
        margin:0;
        margin-bottom:-5px;
    }

    .classroomFooterContainer{
        display:flex;
        align-items:center;
        justify-content: center;

        h3{
            font-size:18px;
            margin:0;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight:900;
            transform: scale(1,1.4);
        }

        img{
            width:70px;
            height:70px;
        }
    }
}

.addButton{
    width:50px;
}

.errorMsg{
    color:red;
}

.deleteTable{
    th{
        width:100px;
    }
}

.container {
  margin: auto;
  margin-bottom:-15px;
  width: 300px;
  height: 100px;
  position:relative;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: $red;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: $red;
    color: white;
    text-shadow: 0 0 10px $red;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 $red,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}

//for ipad
@media (min-width: 450px) {
    .roomCard{
        max-width:450px;

    }

    .subContainer{
        align-items:center;
    }

    .classCard{
        max-width:450px;
    }

    .displayContainer{
        min-height:100vh;
        padding:0 90px;
        padding-top: 110px;
        h2{
            font-size: 64px;
            line-height:90px;
            height:411px;
        }

        .horizontalLine{
            margin:20px 0;
            margin-bottom:50px;
            border-bottom:10px solid white;
        }

        .classroomContentContainer{
            height:270px;
        }
        p{
            font-size:40px;
            margin:0;
            margin-bottom:-10px;
        }

        .classroomFooterContainer{

            h3{
                font-size:30px;
                margin:0;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight:900;
                transform: scale(1,1.4);
            }

            img{
                width:100px;
                height:100px;
            }
        }
    }

}

@media (min-width: 768px) {


}